<div id="top-section">
  <h1 id="welcome">Bienvenido {{this.user}}</h1>
  <div id="logout">
    <button><a href="/logout">Desloguear</a></button>
    <button id="info-button"><a href="/info">Info</a></button>
  </div>
</div>
<div id="bottom-section">
  <div class="seccion" id="seccion-productos">
    <h2>Ingrese producto</h2>
    <form onsubmit="return cargarProducto(this)">
      <label for="title">Producto</label><input
        required
        type="text"
        id="title"
        name="title"
        placeholder="Ingrese el producto"
      />
      <label for="price">Precio</label><input
        required
        type="number"
        id="price"
        name="price"
        placeholder="Ingrese el precio"
      />
      <label for="thumbnail">Imagen</label><input
        required
        type="url"
        id="thumbnail"
        name="thumbnail"
        placeholder="Ingrese la url de la imagen"
      />
      <button type="submit">Cargar</button>
    </form>
    <div id="productos"></div>
  </div>
  <div class="seccion" id="seccion-mensajes">
    <h2>Centro de mensajes</h2>
    <h3 id="compresion"></h3>
    <form onsubmit="return enviarMensaje()">
      <input
        class="input_msjs"
        type="email"
        required
        id="mail"
        name="mail"
        placeholder="Ingrese su email"
      />
      <input
        class="input_msjs"
        type="text"
        required
        id="nombre"
        name="nombre"
        placeholder="Ingrese su nombre"
      />
      <input
        class="input_msjs"
        type="text"
        required
        id="apellido"
        name="apellido"
        placeholder="Ingrese su apellido"
      />
      <input
        class="input_msjs"
        type="number"
        required
        id="edad"
        name="edad"
        placeholder="Ingrese su edad"
      />
      <input
        class="input_msjs"
        type="text"
        required
        id="alias"
        name="alias"
        placeholder="Ingrese su alias"
      />
      <input
        class="input_msjs"
        type="url"
        required
        id="avatar"
        name="avatar"
        placeholder="Ingrese la URL de su avatar"
      />
      <div id="mensajes"></div>
      <textarea
        id="msj"
        name="msj"
        required
        placeholder="Ingresa tu mensaje"
      ></textarea>
      <button type="submit">Enviar mensaje</button>
    </form>
  </div>
</div>

{{#if ruta}}
  <script>route = "LOCAL"</script>
{{else}}
  <script>route = "RAILWAY"</script>
{{/if}}

<script src="js/main.js"></script>