<h2>Login de Usuario</h2>
<div id="login-section">
  <form id="login-form" action="/login" method="post">
    <label for="user">Ingrese su email</label>
    <input required type="text" name="username" id="user" />
    <label for="password">Ingrese su contraseña</label>
    <input required type="password" name="password" id="password" />
    <button id="login">Enviar</button>
  </form>
  <button><a href="/register">Ir a registro</a></button>
</div>