<h2>Registro de Usuario</h2>
<div id="login-section">
  <form id="login-form" action="/register" method="post">
    <label for="user">Ingrese su email</label>
    <input required type="email" name="username" id="user" />
    <label for="password">Ingrese la contraseña</label>
    <input required type="password" name="password" id="password" />
    <button id="login" type="submit">Enviar</button>
  </form>
  <button><a href="/login">Ir a login</a></button>
</div>