<table>
  <thead>
    <tr>
      <th>Producto</th>
      <th>Precio</th>
      <th>Imagen</th>
    </tr>
  </thead>
  <tbody>
    {{#each items}}
      <tr>
        <td>{{this.nombre}}</td><td>{{this.precio}}</td><td><img
            class="thumbnail"
            src={{this.foto}}
          /></td>
      </tr>
    {{/each}}
  </tbody>
</table>